@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

/******************************/

h1 {
    color: white;
}

h3 {
    margin: 1rem 0;
}


/************ NAV-BAR *************/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-bar__img-container {
    height: 70%;
    width: 10%;
    overflow: hidden;
    margin-left: 4rem;
}

.nav-bar-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 4rem;
    color: black;
}

/****************************/

.main-container {
    margin-top: 80px;
    width: 100%;
    position: relative;
}

.main-container__logo {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.main-container__info {
    width: 30rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main-container__info__text {
    color: rgba(255, 255, 255, 0.8);
}

.main-container__link {
    width: 10rem;
    height: 2rem;
    background-color: #4f7dec;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************************/

.wrapper {
    /*max-width: 1000px;*/
    padding: 0 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "services-header services-header services-header services-header services-header services-header "
    "services services services services services services"
    "featured-header featured-header featured-header featured-header featured-header featured-header"
    "presidential presidential family family double-room double-room";
}

/************** SERVICES **************/

.services-header {
    grid-area: services-header;
    width: 100%;
    text-align: center;
    margin: 4rem 0 1rem 0;
}

/********************/

.services-grid {
    grid-area: services;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

}

.services-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*.services-evening {
    grid-area: evening;
}

.services-adventure {
    grid-area: adventure;
}

.services-travel {
    grid-area: travel;
}

.services-party {
    grid-area: party;
}*/

.services-text {
    line-height: 1.4rem;
}

/********** FEATURED ROOMS ***************/

.featured-header {
    grid-area: featured-header;
    margin: 4rem 0 1rem 0;
    text-align: center;
}

.featured-rooms {
    place-self: center;
    width: 20rem;
    height: 12rem;
    text-align: center;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.70);
    
}

.featured-rooms__img-container {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

.img-presidential {
    background-image: url("../IMG/photos/03-day.jpg");
    width: 100%;
    background-size: cover;
}

.img-family {
    background-image: url("../IMG/photos/05-day.jpg");
    width: 100%;
    background-size: cover;
}

.img-double {
    background-image: url("../IMG/photos/06-day.jpg");
    width: 100%;
    background-size: cover;
}

.featured-rooms__text {
    margin-top: 0.3rem;
    font-weight: 700;
}

.featured-presidential {
    grid-area: presidential;
}

.featured-family {
    grid-area: family;
}

.featured-double {
    grid-area: double-room;
}

/***************************************/

/***************************************/


/******************** ROOMS - PAGE *********************/

.wrapper-rooms {
    padding: 0 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "room-header room-header room-header room-header room-header room-header"
    "search-room search-room search-room search-room search-room search-room"
    "gallery gallery gallery gallery gallery gallery";
}

.our-rooms-header {
    grid-area: room-header;
    width: 100%;
    text-align: center;
    margin: 4rem 0;
}

.search-room-container {
    grid-area: search-room;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.room-type {
    display: flex;
    flex-direction: column;
}

#room-type-droplist {
    width: 150px;
}

.guests {
    display: flex;
    flex-direction: column;
}

#guests-droplist {
    width: 150px;
}

.slider--style {
    width: 150px;
}

.slider__text {}

.form-container {
    display: flex;
    flex-direction: column;
}

/**************** GALLERY ****************/

.gallery {
    grid-area: gallery;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.gallery__item {
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.gallery__img {
    width: 100%;
    object-fit: contain;
}

.gallery__title {
    text-align: center;
} 



@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "services-header services-header"
        "services services"
        "featured-header featured-header"
        "presidential family"
        "double-room double-room";
    } 
    .services-grid {
        grid-template-columns: 1fr 1fr;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "services-header"
        "services"
        "featured-header"
        "presidential"
        "family"
        "double-room";
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    
}





