@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

/******************************/

h1 {
    color: white;
}



/************ NAV-BAR *************/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    /*background-color: rgb(126, 186, 181);*/
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
   height: 1.5rem;
   margin-left: 2rem;
}

.header__hotel-title {
    text-decoration: none;
    color: black;
    letter-spacing: .5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    margin-right: 2rem;
    color: black;
    font-size: 1rem;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);
}

/****************************/

.main-container {
    margin-top: 5rem;
    width: 100%;
    position: relative;
}

.main-container__logo {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}

.main-container__info {
    width: 30rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/*.main-container__info__text {
    color: rgba(255, 255, 255, 0.8);
}*/

.main-container__title {
   margin-bottom: 1rem;
}

.main-container__link {
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container__link:hover {
    font-size: 1.05rem;
    
}

/************************************/

.wrapper {
    /*max-width: 1000px;*/
    padding: 0 2rem 4rem 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "intro intro intro intro intro intro"
    "services services services services services services"
    "intro2 intro2 intro2 intro2 intro2 intro2"
    "room-bar room-bar room-bar room-bar room-bar room-bar"
    /*"footer footer footer footer footer footer"*/;
}

/*************** INTRO UPPER ****************/

.intro-wrapper {
    grid-area: intro;
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "img1 img1 img2 img2 img2 "
    "intro-info intro-info intro-info intro-info intro-info";
}

.intro__img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

.intro__img1 {
    grid-area: img1;
    display: flex;
    align-items: end;
}

.intro__img2 {
    grid-area: img2;
}

.intro__img--1 {
    height: 70%;
    object-fit: cover;
    
}

.intro__info {
    grid-area: intro-info;
}

.intro__header1 {
    font-size: 1rem;
}

.intro__main-header {
    margin: .5rem 0 1rem 0;
}

.intro__text {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.intro__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: black;
    color: white;
    width: 15rem;
    height: 2.5rem;
}

.intro__link:hover {
    font-size: 1.05rem;
}

/***************************************/

/************** SERVICES **************/

.services-grid {
    grid-area: services;
    display: grid;
    gap: 1rem;
    border: 1px solid black;
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.services-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-grid__logo {
    width: 50px;
    margin: 1rem 0;
}

.services-grid__item__title {
    margin-top: 1rem;
    letter-spacing: .1rem;
}

.services-grid__item__text {
    line-height: 1.5rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

/***************************************/

/************** INTRO BOTTOM ***********/

.intro-wrapper-2 {
    grid-area: intro2;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "intro2-img1 intro2-img1 intro2-img1 intro2-img2 intro2-img2"
    "intro2-info intro2-info intro2-info intro2-info intro2-info";
}

.intro2__img1 {
    grid-area: intro2-img1;
}

.intro2__img2 {
    grid-area: intro2-img2;
    display: flex;
    align-items: end;
}

.intro2__info {
    grid-area: intro2-info;
} 

.intro2__img {
    width: 100%;
}

.intro2__img--1 {
    height: 22rem;
    object-fit: cover;
}

.intro2__img--2 {
    height: 70%;
}

/***********************************/

.room-bar-section {
    grid-area: room-bar;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.room-bar-section__img {
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
}

.dining-nightlife__header {
    margin: 1rem 0;
}

.dining-nightlife__text {
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

/***********************************/

.line {
    border-bottom: 1px solid black;
}

/************* FOOTER **************/

footer {
    grid-area: footer;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}



.footer__adress {
    margin-bottom: 4rem;
}

.footer__contact {
    margin-right: 15rem;
}

.footer__text {
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}



/******************** ROOMS - PAGE *********************/

.wrapper-rooms {
    padding: 0 2rem 4rem 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "room-header room-header room-header room-header room-header room-header"
    "search-room search-room search-room search-room search-room search-room"
    "gallery gallery gallery gallery gallery gallery";
}

.our-rooms-header {
    grid-area: room-header;
    width: 100%;
    text-align: center;
    margin: 5rem 0 2rem 0;
}

.search-room-container {
    grid-area: search-room;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.room-type {
    display: flex;
    flex-direction: column;
}

#room-type-droplist {
    width: 150px;
}

.guests {
    display: flex;
    flex-direction: column;
}

#guests-droplist {
    width: 150px;
}

.slider--style {
    width: 150px;
}

/*.slider__text {}*/

.form-container {
    display: flex;
    flex-direction: column;
}

/**************** GALLERY ****************/

.gallery {
    grid-area: gallery;
    display: grid;
    gap: 2rem;

    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/*.gallery__item {
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}*/

.gallery__item__link {
    text-decoration: none;
    color: black;
}

.gallery__img {
    width: 100%;
    object-fit: contain;
}

.gallery__item__title {
    font-size: 1.5rem;
    margin: 1rem 0 1.5rem 0;
} 

.gallery__text {
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
}

/***************************************************/
/***************************************************/


/***************** PRESIDENTIAL ROOM ***************/

.wrapper-presidential {
    padding: 5rem 2rem 4rem 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "presidential-gallery presidential-gallery presidential-gallery presidential-gallery presidential-info presidential-info";
}

.presidential-gallery {
    grid-area: presidential-gallery;
    padding-top: 2rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;
}

.presidential-gallery__img {
    width: 100%;
}

.presidential-info {
    grid-area: presidential-info;
}

.presidential-info__sticky-container {
    padding-top: 2rem;
    position: sticky;
    top: 5rem;
    right: 0;
    height: 77vh;
    display: flex;
    flex-direction: column;
    
}

.presidential-info__title {
    margin-bottom: 4rem;
    text-align: center;
}

.presidential-info__text {
    color: rgba(0,0,0,0.75);
    line-height: 1.5rem;
}

.presidential-info__book-link {
    background-color: black;
    color: white;
    text-decoration: none;
    height: 3rem;
    /*padding: .8rem 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.presidential-info__book-link:hover {
    font-size: 1.05rem;
}

.presidential-info__back-link {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid black;
    margin-top: .5rem;
    /*padding: .5rem;*/
    text-decoration: none;
    color: black;
}

.presidential-info__back-link__text {
    font-size: .9rem;
}

.presidential-info__back-link__text:hover {
    font-size: .95rem;
}



@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "intro intro"
        "services services"
        "intro2 intro2" 
        "room-bar room-bar";
    } 

    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "intro-info";
    }
    .intro__link {
        width: 100%;
    }
    .intro-wrapper-2 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "intro2-img1"
        "intro2-img2"
        "intro2-info";
    }
    .intro2__img--2 {
        height: 100%;
    }    

    .services-grid {
        grid-template-columns: 1fr 1fr;
    }
    .room-bar-section {
        grid-template-columns: 1fr;
    }
    /*.gallery {
        grid-template-columns: 1fr 1fr;
    }*/
    .wrapper-presidential {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "presidential-gallery"
        "presidential-info"
        ;
    }
    .presidential-info__book-link {
        margin-top: 4rem;
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        "intro"
        "services"
        "intro2" 
        "room-bar";
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
    .gallery {
        gap: 0;
    }
    
}





