@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

/******************************/

h1 {
    color: white;
}

h3 {
    margin: 1rem 0;
}


/************ NAV-BAR *************/

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: rgb(126, 186, 181);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
   height: 30px;
   margin-left: 4rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    margin-right: 4rem;
    color: black;
}

.navbar ul :hover {
    text-decoration: underline;
}

/****************************/

.main-container {
    margin-top: 80px;
    width: 100%;
    position: relative;
}

.main-container__logo {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}

.main-container__info {
    width: 30rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/*.main-container__info__text {
    color: rgba(255, 255, 255, 0.8);
}*/

.main-container__title {
   margin-bottom: 1rem;
}

.main-container__link {
    width: 10rem;
    height: 2rem;
    background-color: rgb(126, 186, 181);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container__link:hover {
    font-size: 1.05rem;
}

/************************************/

.wrapper {
    /*max-width: 1000px;*/
    padding: 0 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "services-header services-header services-header services-header services-header services-header "
    "services services services services services services"
    "featured-header featured-header featured-header featured-header featured-header featured-header"
    "featured-gallery featured-gallery featured-gallery featured-gallery featured-gallery featured-gallery";
}

/************** SERVICES **************/

.services-header {
    grid-area: services-header;
    width: 100%;
    text-align: center;
    margin: 4rem 0 1rem 0;
}

/********************/

.services-grid {
    grid-area: services;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.services-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-grid__logo {
    width: 50px;
    margin: 1rem 0;
}

.services__text {
    line-height: 1.5rem;
    padding: 1rem;
}

/********** FEATURED ROOMS ***************/

.featured-rooms-header {
    grid-area: featured-header;
    margin: 4rem 0 1rem 0;
    text-align: center;
}

.featured-rooms-gallery {
    grid-area: featured-gallery;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.featured-rooms-gallery__item-container {
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.70);
}

.featured-rooms-gallery__img {
    width: 100%;
}

.featured-rooms__link {
    text-decoration: none;
    color: black;
}

.featured-rooms-gallery__text {
    text-align: center;
}

/***************************************/

/***************************************/


/******************** ROOMS - PAGE *********************/

.wrapper-rooms {
    padding: 0 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "room-header room-header room-header room-header room-header room-header"
    "search-room search-room search-room search-room search-room search-room"
    "gallery gallery gallery gallery gallery gallery";
}

.our-rooms-header {
    grid-area: room-header;
    width: 100%;
    text-align: center;
    margin: 5rem 0 2rem 0;
}

.search-room-container {
    grid-area: search-room;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.room-type {
    display: flex;
    flex-direction: column;
}

#room-type-droplist {
    width: 150px;
}

.guests {
    display: flex;
    flex-direction: column;
}

#guests-droplist {
    width: 150px;
}

.slider--style {
    width: 150px;
}

.slider__text {}

.form-container {
    display: flex;
    flex-direction: column;
}

/**************** GALLERY ****************/

.gallery {
    grid-area: gallery;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.gallery__item {
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.gallery__img {
    width: 100%;
    object-fit: contain;
}

.gallery__item__link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.gallery__item__link:hover {
    color: rgba(0, 0, 0, 0.8);
}

.gallery__title {
    text-align: center;
} 

/***************************************************/
/***************************************************/


/***************** PRESIDENTIAL ROOM ***************/

.wrapper-presidential {
    padding: 80px 4rem 4rem 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "presidential-gallery presidential-gallery presidential-gallery presidential-gallery presidential-info presidential-info";
}

.presidential-gallery {
    grid-area: presidential-gallery;
    padding-top: 4rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;
}

.presidential-gallery__img {
    width: 100%;
}

.presidential-info {
    grid-area: presidential-info;
}

.presidential-info__sticky-container {
    padding-top: 4rem;
    position: sticky;
    top: 80px;
    right: 0;
    height: 77vh;
    display: flex;
    flex-direction: column;
    
}

.presidential-info__title {
    margin-bottom: 4rem;
    text-align: center;
}

.presidential-info__text {
    color: rgba(0,0,0,0.75);
    line-height: 1.5rem;
}

.presidential-info__book-link {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: .8rem 0;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.presidential-info__back-link {
    display: block;
    border: .5px solid black;
    margin-top: .5rem;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "services-header services-header"
        "services services"
        "featured-header featured-header"
        "featured-gallery featured-gallery";
    } 
    .services-grid {
        grid-template-columns: 1fr 1fr;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .wrapper-presidential {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "presidential-gallery"
        "presidential-info"
        ;
    }
    .presidential-info__book-link {
        margin-top: 4rem;
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "services-header"
        "services"
        "featured-header"
        "featured-gallery";
    }
    .services-grid {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    
}





